{% extends "shop/base.html" %}


{% block content%}

  <div class="row">
    <div class="col-md-12">
       <form action="" class="card card-sm">
           <div class="ard-body row no-gutters align-items-center">
              <div class="col">
                <input type="search" placeholder="Entrer le nom du produit que vous chercjer " name="item-name" class="form-control from-control-borderless
                ">
              </div>

              <div class="col-auto">
                 <button type="submit" class="btn btn-success">Recherche</button>
              </div>
           </div>
       </form>
    </div>
  </div>
       
     <div class="row">
      {% for product in product_object %}
      <div class="col-md-3">
        <div class="card">
           <img src="{{ product.image }}" alt="" class="card-img-top">
            <div class="card-body">
               <div class="card-title">{{product.title}}</div>
               <div style="color:rgb(238, 163, 24)" class="card-text">$ {{ product.price }}</div>
               <button class="btn btn-warning">Voire</button>
               <button class="btn btn-success"> Ajouter</button>
            </div>
        </div>
      </div>
      {% endfor %}
     </div>

     <div class="row mt-3">
       <div class="col-md-3 offset-md-4">
         <ul class="paginator">
            {% if product_object.has_previous %}
             <li class="page-item">
               <a class="page-link" href="?page={{product_object.previous_page_number}}">Precedent</a>
              
             </li>
             {% endif%}

               
             <li class="page-item active">
              <a class="page-link" href="?page={{product_object.number}} ">{{product_object.number}} </a>
            </li>
             

             {% if product_object.has_next %}
             <li class="page-item">
               <a class="page-link"  href="?page={{product_object.next_page_number}} ">Suivent</a>
              
             </li>
             {% endif%}
         </ul>
       </div>
     </div>
{% endblock %}